<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppNoticia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastroNoticia</display-name>
    <servlet-name>CadastroNoticia</servlet-name>
    <servlet-class>servlet.CadastroNoticia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroNoticia</servlet-name>
    <url-pattern>/CadastroNoticia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaNoticia</display-name>
    <servlet-name>ListaNoticia</servlet-name>
    <servlet-class>servlet.ListaNoticia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaNoticia</servlet-name>
    <url-pattern>/ListaNoticia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutenticaUsuarioServlet</display-name>
    <servlet-name>AutenticaUsuarioServlet</servlet-name>
    <servlet-class>servlet.AutenticaUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticaUsuarioServlet</servlet-name>
    <url-pattern>/AutenticaUsuarioServlet</url-pattern>
  </servlet-mapping>
</web-app>